<gm-stack id="footer">
  <gm-box padding="30 0 10 0" class="centered">
    You are receiving this email because {{ email }} is signed up to receive communications from YourCompany.<br />
      To adjust how often you receive future emails, including unsubscribing, <a href="{{ unsubscribeUrl }}">click here</a>.
  </gm-box>

  <gm-box padding="0 0 10 0" class="centered">
    Delivered by Your Company 123 Your Street, YourTown, IL 12345, USA
  </gm-box>
</gm-stack>
