@font-face {
  font-family: 'Groupon';
  src:url('fonts/Groupon.eot');
  src:url('fonts/Groupon.eot?#iefix') format('embedded-opentype'),
    url('fonts/Groupon.woff') format('woff'),
    url('fonts/Groupon.ttf') format('truetype'),
    url('fonts/Groupon.svg#Groupon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Groupon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-your-deals:before, .icon-yin-yang:before, .icon-x:before, .icon-wrench:before, .icon-weights:before, .icon-wand:before, .icon-vip:before, .icon-user:before, .icon-truck:before, .icon-trash:before, .icon-tophat:before, .icon-tickets:before, .icon-thumbs-up:before, .icon-thief:before, .icon-text-tool:before, .icon-target:before, .icon-tag:before, .icon-star-filled:before, .icon-smiley:before, .icon-skull:before, .icon-shopping:before, .icon-share:before, .icon-services:before, .icon-sad:before, .icon-rewards:before, .icon-question:before, .icon-plus:before, .icon-phone:before, .icon-phone-nocall:before, .icon-pencil:before, .icon-paw:before, .icon-parallel:before, .icon-out:before, .icon-now:before, .icon-neutral:before, .icon-mug:before, .icon-moneybag:before, .icon-minus:before, .icon-menu:before, .icon-marker:before, .icon-magnifying-glass:before, .icon-logo-g:before, .icon-lock:before, .icon-lock-open:before, .icon-loading:before, .icon-link:before, .icon-leaf:before, .icon-layout:before, .icon-info:before, .icon-image:before, .icon-home:before, .icon-groupon-cat:before, .icon-group:before, .icon-graduate-cap:before, .icon-goods:before, .icon-glove:before, .icon-gift:before, .icon-getaways:before, .icon-gear:before, .icon-gavel:before, .icon-g2:before, .icon-food-and-drink:before, .icon-flag:before, .icon-filter:before, .icon-dollar:before, .icon-dice:before, .icon-daily-deals:before, .icon-cut:before, .icon-credit-card:before, .icon-courthouse:before, .icon-corner:before, .icon-cocktail:before, .icon-cloud:before, .icon-close:before, .icon-circle:before, .icon-check:before, .icon-check-circle:before, .icon-car:before, .icon-currency:before, .icon-bubble-open:before, .icon-bubble-closed:before, .icon-box:before, .icon-book-ring:before, .icon-beauty-wellness-healthcare:before, .icon-bars:before, .icon-barcode:before, .icon-asterisk:before, .icon-arrow-up:before, .icon-arrow-right:before, .icon-arrow-pointer-up:before, .icon-arrow-replay:before, .icon-arrow-nav-right:before, .icon-arrow-nav-left:before, .icon-arrow-left:before, .icon-arrow-down:before, .icon-arrow-curved:before, .icon-alert:before, .icon-nuke:before, .icon-puzzle:before, .icon-hourglass:before, .icon-tree:before, .icon-document-search:before, .icon-calendar:before, .icon-twitter:before, .icon-pinterest:before, .icon-linkedin:before, .icon-google-plus:before, .icon-feed:before, .icon-facebook:before, .icon-email:before, .icon-circle-alert:before, .icon-heart-filled:before, .icon-mobile:before, .icon-groupon:before, .icon-quote:before, .icon-arrow-up-large:before, .icon-arrow-right-large:before, .icon-arrow-left-large:before, .icon-arrow-down-large:before, .icon-gaspump:before, .icon-bullhorn:before, .icon-list:before, .icon-list-unordered:before, .icon-video:before, .icon-recycle:before, .icon-save:before, .icon-import:before, .icon-child:before, .icon-bucks:before, .icon-room:before, .icon-add:before, .icon-medkit:before, .icon-wizard-hat:before, .icon-pie:before {
  font-family: 'Groupon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-your-deals:before {
  content: "\e000";
}
.icon-yin-yang:before {
  content: "\e001";
}
.icon-x:before {
  content: "\e002";
}
.icon-wrench:before {
  content: "\e003";
}
.icon-weights:before {
  content: "\e004";
}
.icon-wand:before {
  content: "\e005";
}
.icon-vip:before {
  content: "\e006";
}
.icon-user:before {
  content: "\e007";
}
.icon-truck:before {
  content: "\e008";
}
.icon-trash:before {
  content: "\e009";
}
.icon-tophat:before {
  content: "\e00a";
}
.icon-tickets:before {
  content: "\e00b";
}
.icon-thumbs-up:before {
  content: "\e00c";
}
.icon-thief:before {
  content: "\e00d";
}
.icon-text-tool:before {
  content: "\e00e";
}
.icon-target:before {
  content: "\e00f";
}
.icon-tag:before {
  content: "\e010";
}
.icon-star-filled:before {
  content: "\e011";
}
.icon-smiley:before {
  content: "\e012";
}
.icon-skull:before {
  content: "\e013";
}
.icon-shopping:before {
  content: "\e014";
}
.icon-share:before {
  content: "\e015";
}
.icon-services:before {
  content: "\e016";
}
.icon-sad:before {
  content: "\e017";
}
.icon-rewards:before {
  content: "\e018";
}
.icon-question:before {
  content: "\e019";
}
.icon-plus:before {
  content: "\e01a";
}
.icon-phone:before {
  content: "\e01b";
}
.icon-phone-nocall:before {
  content: "\e01c";
}
.icon-pencil:before {
  content: "\e01d";
}
.icon-paw:before {
  content: "\e01e";
}
.icon-parallel:before {
  content: "\e01f";
}
.icon-out:before {
  content: "\e020";
}
.icon-now:before {
  content: "\e021";
}
.icon-neutral:before {
  content: "\e022";
}
.icon-mug:before {
  content: "\e023";
}
.icon-moneybag:before {
  content: "\e024";
}
.icon-minus:before {
  content: "\e025";
}
.icon-menu:before {
  content: "\e026";
}
.icon-marker:before {
  content: "\e027";
}
.icon-magnifying-glass:before {
  content: "\e028";
}
.icon-logo-g:before {
  content: "\e029";
}
.icon-lock:before {
  content: "\e02a";
}
.icon-lock-open:before {
  content: "\e02b";
}
.icon-loading:before {
  content: "\e02c";
}
.icon-link:before {
  content: "\e02e";
}
.icon-leaf:before {
  content: "\e02f";
}
.icon-layout:before {
  content: "\e030";
}
.icon-info:before {
  content: "\e031";
}
.icon-image:before {
  content: "\e032";
}
.icon-home:before {
  content: "\e034";
}
.icon-groupon-cat:before {
  content: "\e036";
}
.icon-group:before {
  content: "\e037";
}
.icon-graduate-cap:before {
  content: "\e038";
}
.icon-goods:before {
  content: "\e039";
}
.icon-glove:before {
  content: "\e03a";
}
.icon-gift:before {
  content: "\e03b";
}
.icon-getaways:before {
  content: "\e03c";
}
.icon-gear:before {
  content: "\e03d";
}
.icon-gavel:before {
  content: "\e03e";
}
.icon-g2:before {
  content: "\e03f";
}
.icon-food-and-drink:before {
  content: "\e040";
}
.icon-flag:before {
  content: "\e041";
}
.icon-filter:before {
  content: "\e042";
}
.icon-dollar:before {
  content: "\e045";
}
.icon-dice:before {
  content: "\e046";
}
.icon-daily-deals:before {
  content: "\e047";
}
.icon-cut:before {
  content: "\e048";
}
.icon-credit-card:before {
  content: "\e049";
}
.icon-courthouse:before {
  content: "\e04a";
}
.icon-corner:before {
  content: "\e04b";
}
.icon-cocktail:before {
  content: "\e04c";
}
.icon-cloud:before {
  content: "\e04d";
}
.icon-close:before {
  content: "\e04e";
}
.icon-circle:before {
  content: "\e04f";
}
.icon-check:before {
  content: "\e050";
}
.icon-check-circle:before {
  content: "\e051";
}
.icon-car:before {
  content: "\e052";
}
.icon-currency:before {
  content: "\e053";
}
.icon-bubble-open:before {
  content: "\e054";
}
.icon-bubble-closed:before {
  content: "\e055";
}
.icon-box:before {
  content: "\e056";
}
.icon-book-ring:before {
  content: "\e057";
}
.icon-beauty-wellness-healthcare:before {
  content: "\e058";
}
.icon-bars:before {
  content: "\e059";
}
.icon-barcode:before {
  content: "\e05a";
}
.icon-asterisk:before {
  content: "\e05b";
}
.icon-arrow-up:before {
  content: "\e05c";
}
.icon-arrow-right:before {
  content: "\e05d";
}
.icon-arrow-pointer-up:before {
  content: "\e05e";
}
.icon-arrow-replay:before {
  content: "\e05f";
}
.icon-arrow-nav-right:before {
  content: "\e060";
}
.icon-arrow-nav-left:before {
  content: "\e061";
}
.icon-arrow-left:before {
  content: "\e062";
}
.icon-arrow-down:before {
  content: "\e063";
}
.icon-arrow-curved:before {
  content: "\e064";
}
.icon-alert:before {
  content: "\e065";
}
.icon-nuke:before {
  content: "\e066";
}
.icon-puzzle:before {
  content: "\e067";
}
.icon-hourglass:before {
  content: "\e033";
}
.icon-tree:before {
  content: "\e068";
}
.icon-document-search:before {
  content: "\e06f";
}
.icon-calendar:before {
  content: "\e043";
}
.icon-twitter:before {
  content: "\e044";
}
.icon-pinterest:before {
  content: "\e069";
}
.icon-linkedin:before {
  content: "\e06a";
}
.icon-google-plus:before {
  content: "\e06b";
}
.icon-feed:before {
  content: "\e06c";
}
.icon-facebook:before {
  content: "\e06e";
}
.icon-email:before {
  content: "\e070";
}
.icon-circle-alert:before {
  content: "\e071";
}
.icon-heart-filled:before {
  content: "\e035";
}
.icon-mobile:before {
  content: "\e072";
}
.icon-groupon:before {
  content: "\e073";
}
.icon-quote:before {
  content: "\e06d";
}
.icon-arrow-up-large:before {
  content: "\e074";
}
.icon-arrow-right-large:before {
  content: "\e075";
}
.icon-arrow-left-large:before {
  content: "\e076";
}
.icon-arrow-down-large:before {
  content: "\e077";
}
.icon-gaspump:before {
  content: "\e078";
}
.icon-bullhorn:before {
  content: "\e079";
}
.icon-list:before {
  content: "\e02d";
}
.icon-list-unordered:before {
  content: "\e07a";
}
.icon-video:before {
  content: "\e07b";
}
.icon-recycle:before {
  content: "\e07c";
}
.icon-save:before {
  content: "\e07d";
}
.icon-import:before {
  content: "\e07e";
}
.icon-child:before {
  content: "\e07f";
}
.icon-bucks:before {
  content: "\e080";
}
.icon-room:before {
  content: "\e081";
}
.icon-add:before {
  content: "\e082";
}
.icon-medkit:before {
  content: "\e083";
}
.icon-wizard-hat:before {
  content: "\e084";
}
.icon-pie:before {
  content: "\e085";
}
