<html>
  <head>
    <title></title>
  </head>
  <body gm-centered class="grey-bg">
    <gm-stack id="main" class="centered">
      <gm-box padding="30 30 30 30" class="centered blue-bg">
        <h1 id="title">YourCompany Newsletter</h1>
      </gm-box>

      <gm-box padding="30 60 30 60">
        <p>Dear {{ name }},</p>
        <p>This email was sent from GleeMail, we hope you like it!</p>
        <p>Best,<br />Your Friends at YourCompany</p>
      </gm-box>
    </gm-stack>

    {{< shared/footer }}
  </body>
</html>


