@import "shared/shared-styles"

body
  margin 0
  padding 0

table
  border none
  border-collapse collapse
  color #8f8f8f
  font-family "Helvetica", "Arial", sans-serif
  font-size 18px
  font-weight 100

tr
  border none
  border-collapse collapse

td
  border none
  border-collapse collapse

img
  border none

.grey-bg
  background-color #e7e8ea

.blue-bg
  background-color #548cc9

#main
  width 600px
  background #ffffff

#title
  color #ffffff
  margin 0
